

    <body>

      
  <div class="wrapper">
      <div class="registration_form">
          <div class="title">
              Registration Form
          </div>
  
          <form [formGroup]="registerUserData" (ngsubmit)="registerUser()">
              <div class="form_wrap">
                <div class="input_wrap">
                    <label for="uname">Username</label>
                    <input formControlName= "username" name="username" type="text" class="form-control" id="uname">
                </div>
                  <div class="input_grp">
                    
                      <div class="input_wrap">
                          <label for="fname">FirstName</label>
                          <input formControlName= "firstName" name="firstName" type="text" class="form-control" id="fname">
                      </div>
                      <div class="input_wrap">
                          <label for="lname">LastName</label>
                          <input formControlName= "lastName" name="lastName" type="text" class="form-control" id="lname">
                      </div>
                  </div>
                  <div class="input_wrap">
                    <label for="pword">Password</label>
                    <input formControlName="password" name="password"type="password" class="form-control" id="pword">
                </div>
                  <div class="input_wrap">
                      <label for="email">Email Address</label>
                      <input formControlName= "email" name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="input_wrap">
                    <label for="phone">Phone Number</label>
                    <input formControlName= "phone" name="phone"type="text" class="form-control" id="phone">
                </div>
                <div class="input_wrap">
                    <label for="address">Address</label>
                    <input formControlName= "address" name= "address" type="text" class="form-control" id="address">
                </div>
                <div class="input_wrap">
                    <button type="submit" (click) = "registerUser()" value="Register Now" class="submit_btn"> Register</button>
                </div>
            </div>
          </form>
      </div>
  </div>
  
  </body>
