/* form{
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 0px;
} */

form{
	background: #545871;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
    margin: 150px auto;
}

.login-header{
    color: #ebd0ce;
    text-align: center;
}

label{
    color: #9597a6;
}
